Repository not-three/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, code, package

fix: missing dependency
  package.json
  pnpm-lock.yaml
Labels: package

fix: unintended replacement of values
  .github/workflows/publish.yml
  package.json
Labels: ci, package

feat: added license command
  .gitignore
  package.json
  pnpm-lock.yaml
  src/commands/license.command.ts
Labels: code, package

ci: added docker and client bundle dist
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  Dockerfile
Labels: ci

chore: added simple usage instructions
  README.md
Labels: none

ci: fix wrong container name
  .github/workflows/publish.yml
Labels: ci

feat: added edit command
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/commands/edit.command.ts
Labels: code, package

chore: updated dependabot -> added grouping
  .github/dependabot.yml
Labels: none

feat: added enquirer prompt for the seed in the decrypt command as new default
  src/commands/decrypt.command.ts
Labels: code

chore: updated eslint; closing #19 #20 #21
  package.json
  pnpm-lock.yaml
Labels: package

fix: missing buffer type
  src/commands/upload.command.ts
Labels: code

fix: docker missing pnpm
  Dockerfile
Labels: none

fix: added missing chunk type
  src/commands/upload.command.ts
Labels: code

fix: install nano in docker image for the editor command
  Dockerfile
Labels: none

fix: TS2345 Buffer<ArrayBuffer> not assignable to ArrayBuffer
  package.json
  pnpm-workspace.yaml
  src/commands/upload.command.ts
Labels: code, package

ci: added missing permissions
  .github/workflows/pr.yml
Labels: ci

chore: upgrade pnpm to 11 and apply pnpm audit fixes
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

ci: bump node version to 25 for pnpm 11 compatibility
  .github/workflows/nightly.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
Labels: ci

chore: ignore local docs folder
  .gitignore
Labels: none

feat!: replace nestjs skeleton with oclif scaffold
  .gitignore
  .mocharc.json
  bin/dev.js
  bin/run.js
  nest-cli.json
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/base.command.ts
  src/commands/decrypt.command.ts
  src/commands/download.command.ts
  src/commands/edit.command.ts
  src/commands/encrypt.command.ts
  src/commands/info.command.ts
  src/commands/license.command.ts
  src/commands/license.ts
  src/commands/query.command.ts
  src/commands/save.command.ts
  src/commands/seed.command.ts
  src/commands/stats.command.ts
  src/commands/upload.command.ts
  src/common.service.ts
  src/not3.ts
  tsconfig.build.json
  tsconfig.json
Labels: code, package

fix: drop rootDir from root tsconfig so test files typecheck
  tsconfig.json
Labels: none

feat: config module with per-server password binding
  src/lib/config.ts
  src/lib/errors.ts
  test/lib/config.test.ts
Labels: code

fix: enforce 0700 on pre-existing config directory
  src/lib/config.ts
  test/lib/config.test.ts
Labels: code

feat: reporter with pretty/simple/stdout/raw output modes and qr codes
  src/lib/reporter.ts
  test/lib/reporter.test.ts
Labels: code

fix: guard progress against zero totals and cover json output
  src/lib/reporter.ts
  test/lib/reporter.test.ts
Labels: code

feat: input/io helpers; fix ArrayBuffer write crash (not-three/main#15)
  src/lib/input.ts
  src/lib/io.ts
  test/lib/input.test.ts
  test/lib/io.test.ts
Labels: code

fix: readFileChunk resolves empty buffer for zero-length ranges
  src/lib/io.ts
  test/lib/io.test.ts
Labels: code

feat: shared flags with NOT3_* env twins, api factory, base command
  src/base.command.ts
  src/lib/api.ts
  src/lib/flags.ts
  test/lib/api.test.ts
Labels: code

feat: share link builder with conditional server embedding
  src/lib/share.ts
  test/lib/share.test.ts
Labels: code

feat: config get/set/unset/list commands
  src/commands/config/get.ts
  src/commands/config/list.ts
  src/commands/config/set.ts
  src/commands/config/unset.ts
  test/commands/config.test.ts
  tsconfig.json
Labels: code

fix: normalize share server urls and assert fragment embedding directly
  src/lib/share.ts
  test/lib/share.test.ts
Labels: code

feat: crypto seed/encrypt/decrypt commands
  src/commands/crypto/decrypt.ts
  src/commands/crypto/encrypt.ts
  src/commands/crypto/seed.ts
  test/commands/crypto.test.ts
Labels: code

feat: crypto edit command with unified editor resolution
  src/commands/crypto/edit.ts
  test/commands/edit.test.ts
Labels: code

fix: handle editor spawn failure without leaking the plaintext temp file
  src/commands/crypto/edit.ts
  test/commands/edit.test.ts
Labels: code

feat: note save/get commands with share links
  src/commands/note/get.ts
  src/commands/note/save.ts
  test/commands/note.test.ts
Labels: code

feat: file upload/download commands
  src/commands/file/download.ts
  src/commands/file/upload.ts
Labels: code

fix: surface download stream errors instead of crashing
  src/commands/file/download.ts
Labels: code

feat: server info/stats commands and legacy stubs pointing to new tree
  src/commands/decrypt.ts
  src/commands/download.ts
  src/commands/edit.ts
  src/commands/encrypt.ts
  src/commands/info.ts
  src/commands/query.ts
  src/commands/save.ts
  src/commands/seed.ts
  src/commands/server/info.ts
  src/commands/server/stats.ts
  src/commands/stats.ts
  src/commands/upload.ts
  src/lib/legacy.ts
  test/commands/legacy.test.ts
  test/commands/server.test.ts
Labels: code

chore: update docker image, readme and ci for the oclif cli
  .github/workflows/pr.yml
  Dockerfile
  README.md
  pnpm-workspace.yaml
Labels: ci

fix: stop oclif arg parser from consuming piped stdin before input resolution
  src/commands/crypto/encrypt.ts
  src/commands/note/save.ts
Labels: code

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: [.github/workflows/*]
code:
- changed-files:
  - any-glob-to-any-file: [src/**]
package:
- changed-files:
  - any-glob-to-any-file: [package.json, pnpm-lock.yaml]
