Repository not-three/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, code, package

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: [.github/workflows/*]
code:
- changed-files:
  - any-glob-to-any-file: [src/**]
package:
- changed-files:
  - any-glob-to-any-file: [package.json, pnpm-lock.yaml]

test: regression coverage for piped stdin vs oclif arg parser
  test/commands/stdin-pipe.test.ts
Labels: none

fix: honor --verbose stack traces, empty-stdin fallback, server-scoped config get
  src/base.command.ts
  src/commands/config/get.ts
  src/lib/input.ts
  test/commands/config.test.ts
  test/commands/verbose.test.ts
  test/lib/input.test.ts
Labels: code

feat: show qr code above share details in pretty output
  src/lib/reporter.ts
Labels: code

feat: list license command last on the help page
  package.json
  src/help.ts
  test/commands/help.test.ts
Labels: code, package

fix: pin node and mocha type packages in tsconfig
  tsconfig.json
Labels: none

fix: only truthy NOT3_VERBOSE values enable verbose output
  src/base.command.ts
  test/commands/verbose.test.ts
Labels: code

ci: add provenance flag to NPM publish command
  .github/workflows/publish.yml
Labels: ci

feat: add directory upload support with zipping functionality
  package.json
  pnpm-lock.yaml
  src/commands/file/upload.ts
  src/lib/zip.ts
  test/commands/file.test.ts
  test/lib/zip.test.ts
Labels: code, package

feat: add support for stats password in config commands and server stats
  src/base.command.ts
  src/commands/config/get.ts
  src/commands/config/list.ts
  src/commands/config/set.ts
  src/commands/config/unset.ts
  src/commands/server/stats.ts
  src/lib/config.ts
  src/lib/flags.ts
  test/commands/config.test.ts
  test/commands/server.test.ts
  test/lib/config.test.ts
Labels: code

feat: add `not3 config edit` command
  src/commands/config/edit.ts
  src/commands/crypto/edit.ts
  src/lib/config.ts
  src/lib/editor.ts
  test/commands/config.test.ts
Labels: code

feat: add node-datachannel rtc factory
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/lib/rtc.ts
  test/lib/rtc.test.ts
Labels: code, package

feat: support p2p share output in reporter
  src/lib/reporter.ts
  test/lib/reporter.test.ts
Labels: code

feat: add p2p link parsing and positional file sink
  src/lib/p2p.ts
  test/lib/p2p.test.ts
Labels: code

feat(p2p): add send and receive commands
  README.md
  package.json
  src/base.command.ts
  src/commands/p2p/receive.ts
  src/commands/p2p/send.ts
  src/lib/p2p.ts
  src/lib/share.ts
  test/commands/p2p.test.ts
  test/lib/p2p.test.ts
  test/lib/share.test.ts
Labels: code, package

test: add p2p cross-stack smoke tests
  test/commands/p2p-smoke.test.ts
Labels: none

fix(p2p): guard resume output and complete progress
  src/commands/p2p/receive.ts
  src/commands/p2p/send.ts
  src/lib/p2p.ts
  test/commands/p2p-smoke.test.ts
  test/lib/p2p.test.ts
Labels: code

fix(p2p): clarify sender cancellation in receive output
  src/commands/p2p/receive.ts
  test/commands/p2p.test.ts
Labels: code

chore(p2p): pin published SDK 2.1.1
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

chore(deps): pin @not3/sdk to the reviewed 2.3.0 release
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

build(docker): copy pnpm-workspace.yaml so install policies apply in the image
  Dockerfile
Labels: none

ci(deps): update GitHub Actions to v7
  .github/workflows/nightly.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
Labels: ci

chore(deps): consolidate updates and remediate advisories
  .eslintrc.js
  eslint.config.cjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/commands/crypto.test.ts
  test/commands/edit.test.ts
  test/commands/file.test.ts
  test/commands/note.test.ts
  test/commands/p2p-smoke.test.ts
  test/commands/p2p.test.ts
  test/lib/reporter.test.ts
Labels: package

chore(deps): update oclif and development dependencies
  package.json
  pnpm-lock.yaml
Labels: package

ci(deps): defer TypeScript 7 until peer support
  .github/dependabot.yml
Labels: none

chore(deps): update TypeScript 6 and Chai types 5
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: package

chore(deps): bump @not3/sdk to 2.3.1
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

feat(share): consume released SDK alternatives catalog
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/lib/share.ts
  test/lib/share.test.ts
Labels: code, package

feat(output): render share alternatives across commands
  README.md
  src/commands/file/upload.ts
  src/commands/note/save.ts
  src/commands/p2p/send.ts
  src/lib/reporter.ts
  test/commands/file.test.ts
  test/commands/note.test.ts
  test/commands/p2p.test.ts
  test/lib/reporter.test.ts
Labels: code
